<form class="form" name="registerForm"
      ng-submit="registerUser()" novalidate id="login-form">
    <div class="heading">Sign up to Insta App</div>
    <div class="left">

        <input type="email" name="email" id="email" placeholder="Enter Email Address"
               ng-model="loginDetails.email" required> <span
               ng-show="registerForm.email.$invalid && !registerForm.email.$pristine"
               aria-hidden="true"></span> <span
               ng-show="(registerForm.email.$invalid ||
                                           registerForm.email.$error.required) &&
                                           !registerForm.email.$pristine"
               class="help-block">Enter Email Address.</span> <br />

        <input type="password" name="password" id="pass" placeholder="Enter Password"
               ng-model="loginDetails.password" ng-minlength="8" required>
        <span
            ng-show="registerForm.password.$error.required && !registerForm.password.$pristine"
            class="help-block"> Password is required.</span> <span
            ng-show="registerForm.password.$error.minlength"
            class="help-block">Password is too short.</span> <br />

        <input type="password"  id="password"
               name="confirmpassword" placeholder="Confirm Password"
               ng-model="registerDetails.confirmpassword" ng-minlength="8" required>
        <span
            ng-show="registerForm.confirmpassword.$error.required && !registerForm.confirmpassword.$pristine"
            class="help-block"> confirm password is required.</span> <span
            ng-show="registerForm.confirmpassword.$error.minlength"
            class="help-block">confirm password is too short.</span>

        <input type="submit" ng-disabled="loginForm.$invalid" value="Sign Up" />
        <p class="login-message">Already Registered?
            <a href="" ng-click="registerFlag = false">Login</a></p>
    </div>
    <div class="right">
        <div class="connect">Connect with</div>
        <a href="" class="facebook">
            <span class="fontawesome-facebook"></span>
        </a> <br />
        <a href="" class="twitter">
            <span class="fontawesome-twitter"></span>
        </a> <br />
        <a href="" class="google-plus">
            <span class="fontawesome-google-plus"></span>
        </a>
    </div>
</form>  